### Filter Ads

In [1]:
import os
import pandas as pd

df = pd.read_csv("tweet_data.csv")
df = df.drop(columns="Unnamed: 0")

In [2]:
import re

allowed_chars = ' AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789~`!@#$%^&*()-=_+[]{}|;:",./<>?'
punct = '!?,.@#'
maxlen = 280

def preprocess(text):
    return ''.join(['' + char + ' ' if char in punct else char for char in [char for char in re.sub(r'http\S+', 'http', text, flags=re.MULTILINE) if char in allowed_chars]])[:maxlen]

In [3]:
df['content'] = df['content'].astype(str).apply(preprocess)

In [4]:
print(f"{len(df)}")
find = ["http", "sales", "check us", "take a look", "viral"]
df_filtered = df[~df["content"].str.contains('|'.join(find))]
print(f"{len(df_filtered)}")

275898
65145

In [5]:
df_filtered.to_csv("tweet_filtered.csv")

### Remove duplicate

In [6]:
import pandas as pd
df_filtered = pd.read_csv("tweet_filtered.csv")
df_filtered = df_filtered.drop(columns="Unnamed: 0")
df_filtered.reset_index(drop=True, inplace=True)

print(f"{len(df_filtered)}")
df_filtered = df_filtered.drop_duplicates(subset="content")
print(f"{len(df_filtered)}")

65145
59547

In [7]:
df_filtered.to_csv("tweet_filtered.csv")

### Check Data Amount in Each Month

In [8]:
import pandas as pd
df_filtered = pd.read_csv("tweet_filtered.csv")
df_filtered = df_filtered.drop(columns="Unnamed: 0")

In [9]:
df_filtered["date_group"] = df_filtered["date"].str.split(" ").str[0].str[:7]

In [10]:
df_filtered["date_group"].unique()

array(['2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08',
       '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02',
       '2021-03', '2021-04', '2021-05', '2021-06'], dtype=object)

In [11]:
df_filtered[["id", "date_group"]].groupby("date_group").count()

              id
date_group
2020-03     4547
2020-04     3827
2020-05     3672
2020-06     3630
2020-07     3519
2020-08     3684
2020-09     3767
2020-10     3624
2020-11     3984
2020-12     4146
2021-01     3967
2021-02     3451
2021-03     3454
2021-04     3778
2021-05     3408
2021-06     3089

In [12]:
print(f"{len(df_filtered)}")
df_filtered = df_filtered.groupby("date_group").apply(lambda x: x.sample(n=3000)).reset_index(drop = True)
print(f"{len(df_filtered)}")

59547
48000

In [13]:
df_filtered.to_csv("tweet_filtered.csv")